name: Build

on:
  push:
    paths:
      - "CMakeLists.txt"
      - "*.c"
      - "*.h"
      - ".github/workflows/build.yml"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build (${{ matrix.CC }})
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '[ci skip]') || github.event_name == 'workflow_dispatch' }}
    strategy:
      fail-fast: true
      matrix:
        CC:
          - gcc
          - clang
    steps:
      - name: Check out source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install dependencies
        run: sudo apt-get -qq update && sudo apt-get install -y libcap-dev

      - name: Configure the project
        run: CC=${{ matrix.CC }} cmake -S . -B build -DCMAKE_BUILD_TYPE=MinSizeRel

      - name: Build the project
        run: cmake --build build --config MinSizeRel

      - name: Smoke test
        run: ./build/setcap-static
